<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>
<body>
    <div class="container">
        <h1>Tabla de Multiplicar</h1>
        <form action="/tablas" method="post">
            <label for="">Número tabla: </label><input type="number" name="tabla" id="tabla" required value="<%=tabla%>">
            <button class="btn btn-success" type="submit">Enviar</button>
        </form>
        <% if(tabla!=null){
            let res = 0;
            for(i=1; i<=10;++i){
                res = i * tabla;
            %>
            <h3><%=tabla%> * <%=i%> = <%=res%> </h3>
            <%
            }
        }%>
    </div>
<%-include('partials/piePagina.html');%>
</body>
</html>